.header {
  overflow: hidden;
  background-color: #f1f1f1;
  background: #1a0000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-wrap > h1 > a {
  color: #f1f1f1;
  text-decoration: none;
}

.logo-wrap > h1 > a:hover {
  color: brown;
}

.header .login-bar {
  display: flex;
  margin-right: 20px;
  color: #f1f1f1;
}

.login-bar .nav-item .dropdown-menu {
  display: flex;
  background: #f2f2f2;
  flex-direction: column;
  text-align: left;
}

.login-bar .nav-item .dropdown-menu > a {
  text-decoration: none;
  padding: 10px 5px;
  color: #1a0000;
}

.login-bar .nav-item .dropdown-menu > a:hover {
  color: chocolate;
}

.user-avarta {
  width: 30px;
}

