{
  "plugins": ["react", "react-native"],
  "extends": [
    "eslint:recommended",
    "roc",
    "eslint:all",
    "plugin:react/all",
    "plugin:react-native/all"
  ],
  "rules": {
    "semi": ["error", "never"],
    "quotes": ["error", "single"],
    "comma-dangle": [
      "error",
      {
        "arrays": "never",
        "objects": "never",
        "imports": "never",
        "exports": "never",
        "functions": "ignore"
      }
    ],
    "arrow-parens": [2, "as-needed"],
    "one-var": ["error", { "initialized": "always", "uninitialized": "never" }],
    "sort-vars": "off",
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "no-invalid-this": "off",
    "import/no-extraneous-dependencies": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
