@font-face {
  font-family: 'MaterialIcons';
  src: url(/fonts/MaterialIcons.ttf) format('truetype');
}

html,
body,
#root,
#root > div {
  width: 100%;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: MaterialIcons;
}
