{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "plugins": [
    "react",
    "react-hooks",
    "import"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],
  "globals": {
    "shallow": true,
    "render": true,
    "mount": true,
    "renderer": true,
    "React": true,
    "TestRenderer": true
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "no-console": "off",
    "no-undef": "off",
    "react/prop-types": 0,
    "no-unused-vars": "off",
    "react/react-in-jsx-scope": "off",
    "react/display-name": "off",
    "indent": "off",
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "jsx-quotes": 0
  }
}
